@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
}  


.h1_font{
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 1000;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body{
    background-color: var(--color-black);
}

.MT-headding{
    text-align: center;
}
.facebook_container{
    background-color: #4267B2;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.font {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 460;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 18px;

}

.inner_container{
    padding: 1em 1em 1em 1em;
}


.instagram_container{
    background:linear-gradient(37.9deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    
}

.twitter_container{
    background-color: #00ACEE;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
